apiVersion: v1
kind: ConfigMap
metadata:
  name: users-config
data:
  LISTEN_ADDR: {{ printf ":%s" .Values.service.port }}
---
apiVersion: v1
kind: Secret
metadata:
  name: users-secret
type: Opaque
data:
  DB_HOST: {{ printf "%s:%s" (include "postgresql.fullname" .) .Values.postgresql.service.port | b64enc | quote }}
  DB_USER: {{ .Values.postgresql.postgresqlUsername | b64enc | quote }}
  DB_PASSWORD: {{ .Values.postgresql.postgresqlPassword | b64enc | quote }}
  DB_BASE: {{ .Values.postgresql.postgresqlDatabase | b64enc | quote }}
